body {
  background-color: white;
  /*background-image: url('images/bg.png');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;*/
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

div {
  border-radius: 10px;
  background-color: black;
  opacity: 50%;
  width: 10%;
  height: 10%;
  color: white;
  padding-top: 20px;
  padding-left: 20px;
}

#sol {
  position: absolute;
  top: 10cm;
  left: 20px;
}

#sol-1 {
  position: absolute;
  top: 10cm;
  left: 18%;
}

#sol-2 {
  position: absolute;
  top: 10cm;
  left: 34%;
}

#sol-3 {
  position: absolute;
  top: 10cm;
  right: 18%;
}

#sol-4 {
  position: absolute;
  top: 10cm;
  right: 20px;
}
