body {
  background-color: white;
  font-family: Russo One;
  /*background-image: url('images/bg.png');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;*/
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

div {
  border-radius: 10px;
  background-color: black;
  opacity: 50%;
  width: 10%;
  height: 25%;
  color: white;
  font-size: 20;
  padding-top: 3px;
  text-align: center;
}

#sol {
  position: absolute;
  top: 15cm;
  left: 20px;
}

#sol-1 {
  position: absolute;
  top: 15cm;
  left: 22%;
}

#sol-2 {
  position: absolute;
  top: 15cm;
  left: 43%;
}

#sol-3 {
  position: absolute;
  top: 15cm;
  right: 22%;
}

#sol-4 {
  position: absolute;
  top: 15cm;
  right: 20px;
}
