body {
  background-color: white;
  font-family: Russo One;
  /*background-image: url('images/bg.png');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;*/
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

div {
  border-radius: 10%;
  background-color: black;
  opacity: 50%;
  width: 10%;
  height: 30%;
  color: white;
  font-size: 100%;
  /*padding-top: 1px;*/
  text-align: center;
}

#boxes {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-direction: row;
}
